# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚

ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

# 1 - æ•°æ®åŠ è½½ä¸å­˜å‚¨

æ˜¯çš„ï¼Œå¸¸å¸¸è¢«å¿½ç•¥çš„ã€Œ<font color=#E36C07>**æ•°æ®åŠ è½½ä¸å­˜å‚¨**</font>ã€ä¹Ÿå¤§æœ‰é—¨é“ä¸”å€¼å¾—ä½œä¸ºæœ¬å¥—ä¹ é¢˜çš„å¼€é—¨ä¹‹ç« ã€‚

åœ¨ä¸€æ¬¡æ•°æ®åˆ†æçš„è¿‡ç¨‹ä¸­ï¼Œä½ å¯èƒ½åªä¼šè¯»å–æˆ–å­˜å‚¨ä¸€ä¸¤æ¬¡æ•°æ®é›†ã€‚

**ä½†è‹¥èƒ½çµæ´»æŒæ¡å„é¡¹è®¾ç½®ï¼Œåœ¨è¯»å–é˜¶æ®µå°±å°†æ•°æ®ç­›é€‰ã€åŒ¹é…ã€æ ¼å¼æŒ‡å®šç­‰æ“ä½œå®Œæˆï¼Œæœ‰æ—¶ä¼šä¸ºæˆ‘ä»¬èŠ‚çœå¤§é‡æ—¶é—´ã€‚**

åœ¨æœ¬èŠ‚ä¹ é¢˜ä¸­ï¼Œæˆ‘å°† pandas æ•°æ®åˆ†æä¸­å¸¸è§çš„æ•°æ®è¯»å–ä¸å­˜å‚¨æ“ä½œè¿›è¡Œæ•´ç†ã€‚

<font color=#E36C07>**æ—¢å¯ä»¥ç”¨äºå·©å›ºã€å­¦ä¹ å„ç§æ“ä½œï¼Œä¹Ÿå¯ä»¥ä½œä¸ºé€ŸæŸ¥æ‰‹å†Œä½¿ç”¨**</font>ã€‚

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**ä¹ é¢˜+ç­”æ¡ˆç‰ˆ**


<font color=#E36C07>**è¯·æ‰§è¡Œä¸‹æ–¹å•å…ƒæ ¼ä»¥åˆå§‹åŒ–è¯»å–æœ¬èŠ‚ä¹ é¢˜çš„ç­”æ¡ˆ**</font>

æ‰§è¡Œå®Œæ¯•åï¼Œä½ å¯ä»¥ä½¿ç”¨  <font color=#E36C07> **ans(1)** </font>  æ¥æŸ¥çœ‹ç¬¬ 1 é¢˜çš„å‚è€ƒè§£ç­”ï¼Œå…¶ä½™ä¹ é¢˜ç±»ä¼¼ã€‚

æ³¨æ„ï¼šæ‰€æœ‰ç­”æ¡ˆå¹¶éå›ºå®šï¼ˆå”¯ä¸€ï¼‰ï¼Œæˆ‘æä¾›çš„ç­”æ¡ˆä»…ä¾›å‚è€ƒï¼ˆå¹¶éæ¨èç­”æ¡ˆæˆ–è€…æœ€ä¼˜è§£ï¼‰

å¦‚æœå‘ç°ä»»ä½•é”™è¯¯æˆ–è€…ä½ æœ‰æ›´å¥½çš„è§£ç­”ï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€æäº¤ä»¥è·å¾—å¥–åŠ±ï¼

In [1]:
import sys
import pandas as pd
sys.path.append('../document/')
from inits import initialize,ans

res = initialize("../document/answer-1.txt")

***************æ­£åœ¨åˆå§‹åŒ–***************
*************è¯»å–åˆ°é…ç½®æ–‡ä»¶*************
***************åˆå§‹åŒ–æˆåŠŸ***************

## 1-1 æ•°æ®è¯»å–

### 1 è¯»å– Excel æ–‡ä»¶

<br>

- è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶

- è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.xlsx` æ–‡ä»¶

**æ³¨æ„**ï¼šä½¿ç”¨ `pandas` è¯»å– `CSV` ä¸ è¯»å– `xlsx` æ ¼å¼çš„ `Excel` æ–‡ä»¶æ–¹æ³•å¤§è‡´ç›¸åŒ

å› æ­¤æ¥ä¸‹æ¥ä¸ `Excel` ç›¸å…³çš„æ“ä½œå‡ä»¥ `CSV` æ ¼å¼è¿›è¡Œå‡ºé¢˜ã€‚

In [2]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")
data = pd.read_excel("TOP250.xlsx")

### 2 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šä½ç½®

åœ¨å¤§å¤šæ•°æƒ…å†µä¸‹ï¼Œæˆ‘ä»¬ä¼šå°† `notebook` å’Œæ•°æ®æºæ–‡ä»¶æ”¾åœ¨åŒä¸€ä¸ªç›®å½•ï¼ˆæ–‡ä»¶å¤¹ä¸‹ï¼‰ï¼Œè¿™æ ·ç›´æ¥ä½¿ç”¨`pd.read_xxx("æ–‡ä»¶å")`å³å¯æˆåŠŸè¯»å–ã€‚
 
ä½†æœ‰æ—¶éœ€è¦è¯»å–çš„æ–‡ä»¶å’Œ `notebook` ä¸åœ¨åŒä¸€ä¸ªç›®å½•ä¸‹ï¼Œè¿™æ—¶å¯ä»¥ä½¿ç”¨ç»å¯¹è·¯å¾„æˆ–è€…ç›¸å¯¹æœ¬ `notebook` çš„è·¯å¾„ã€‚

ç°åœ¨è¯·è¯»å–æœ¬å¥—ä¹ é¢˜ä¸­ç¬¬äºŒç« èŠ‚ä¸‹çš„æ•°æ®ï¼Œå³ `2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv`

In [3]:
data = pd.read_csv('../2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv')

In [4]:
ans(2)

data = pd.read_csv("../2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv")

###  3 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆé¡ºåºï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ <font color = '#5F5FFC'>å‰20è¡Œ</font>

In [8]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',nrows=20)

In [7]:
ans(3)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",nrows = 20)

###  4 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆè·³è¿‡ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶å¹¶<font color = '#5F5FFC'>è·³è¿‡å‰20è¡Œ</font>

In [12]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',skiprows = [i for i in range(1,21)])

In [11]:
ans(4)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",skiprows = [i for i in range(1,21)])

###  5 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆæ¡ä»¶ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ä¸­å…¨éƒ¨<font color = '#5F5FFC'>å¶æ•°è¡Œ</font>

æ€è€ƒï¼šå¦‚æœæ˜¯è¯»å–å…¨éƒ¨å¥‡æ•°è¡Œï¼Œæˆ–è€…æ›´å¤šæ»¡è¶³æŒ‡å®šæ¡ä»¶çš„è¡Œå‘¢ï¼Ÿ

In [14]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', skiprows = lambda x: (x != 0) and not x % 2)

In [13]:
ans(5)

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', skiprows=lambda x: (x != 0) and not x % 2)

# data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', skiprows=lambda x: x % 2) å¥‡æ•°è¡Œ

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 6 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—å·ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—å·è¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ç¬¬ `1ã€3ã€5` åˆ—

In [15]:
ans(6)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",usecols = [0,2,4])

In [16]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', usecols = [0,2,4])

###  7 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—åï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—åè¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—

In [17]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',usecols = ['positionId','positionName','salary'])

In [18]:
ans(7)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",usecols = ['positionId','positionName','salary'])

###  8 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåŒ¹é…ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—ååŒ¹é…è¯»å–**

è®©æˆ‘ä»¬æ¥ä¸ªæ›´éš¾ä¸€ç‚¹çš„ï¼Œè¿˜æ˜¯è¯»å– `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œä½†ç°åœ¨æœ‰ä¸€ä¸ª list ä¸­åŒ…å«å¤šä¸ªå­—æ®µğŸ‘‡

`usecols = ['positionId','test','positionName', 'test1','salary']`

å¦‚æœ `usecols` ä¸­çš„åˆ—åå­˜åœ¨äº `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` ä¸­ï¼Œåˆ™è¯»å–ã€‚

In [19]:
ans(8)

usecols = ['positionId', 'test', 'positionName', 'test1', 'salary']

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', usecols=lambda c: c in set(usecols))

In [20]:
usecols = ['positionId', 'test', 'positionName', 'test1', 'salary']
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', usecols = lambda c:c in set(usecols))

### 9 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šç´¢å¼•

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶åœ¨è¯»å–æ—¶å°† `positionId` è®¾ç½®ä¸ºç´¢å¼•åˆ—

In [21]:
ans(9)

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',index_col=['positionId'])

In [22]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', index_col = ['positionId'])

###  10 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ‡é¢˜

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—ï¼Œå¹¶å°†æ ‡é¢˜è®¾ç½®ä¸º `IDã€å²—ä½åç§°ã€è–ªèµ„`

In [26]:
pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', usecols=[0,1,17], header = 0, names=['ID','å²—ä½åç§°','è–ªèµ„'])

          ID                   å²—ä½åç§°     è–ªèµ„
0    6802721                   æ•°æ®åˆ†æ  37500
1    5204912                   æ•°æ®å»ºæ¨¡  15000
2    6877668                   æ•°æ®åˆ†æ   3500
3    6496141                   æ•°æ®åˆ†æ  45000
4    6467417                   æ•°æ®åˆ†æ  30000
..       ...                    ...    ...
100  6884346                  æ•°æ®åˆ†æå¸ˆ  25000
101  6849100                 å•†ä¸šæ•°æ®åˆ†æ  35000
102  6803432        å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶  30000
103  6704835                BIæ•°æ®åˆ†æå¸ˆ  20000
104  6728058  æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029)  21500

[105 rows x 3 columns]

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

In [23]:
ans(10)

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', usecols=[0,1,17],header = 0,names=['ID','å²—ä½åç§°','è–ªèµ„'])

###  11 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼è½¬æ¢

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶ä¸å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º `NA`**

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¦è¿™æ ·åšï¼Ÿ

In [27]:
ans(11)

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', keep_default_na=False)

In [29]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', keep_default_na = False)
data.head()

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,,0,0,0,,,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,,0,0,0,,,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,,0,0,0,,,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,,0,0,0,,,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,,0,0,0,,,0,0,[],True

###  12 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼æ ‡è®°

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶å°†`[]`æ ‡è®°ä¸ºç¼ºå¤±å€¼**

In [30]:
ans(12)

data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',na_values=['[]'])

In [31]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',na_values=['[]'])

### 13 è¯»å– Excel æ–‡ä»¶ï½œå¿½ç•¥ç¼ºå¤±å€¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**ä½†ä¸å¤„ç†ç¼ºå¤±å€¼**

æ€è€ƒï¼šå’Œä¹‹å‰çš„æœ‰ä»€ä¹ˆä¸åŒï¼Œä¸ºä»€ä¹ˆè¿™ä¹ˆåšï¼Ÿ

In [32]:
ans(13)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",na_filter=False)

In [33]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',na_filter = False)

### 14 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `positionId,companyId` è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [34]:
ans(14)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", dtype={'positionId': str,'companyId':str})

In [35]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',dtype={'positionId': str,'companyId':str})

### 15 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼ï¼ˆæ—¶é—´ï¼‰

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `createTime` åˆ—è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [36]:
ans(15)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",parse_dates=['createTime'])

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

In [37]:
pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',parse_dates = ['createTime'])

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,æ•°æ®åˆ†æå¸ˆ,21236,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,åŒ»ç–—ä¸¨å¥åº·",Cè½®,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,å•†ä¸šæ•°æ®åˆ†æ,72076,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Cè½®,"['èŠ‚æ—¥ç¤¼ç‰©', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'å¹´åº¦æ—…æ¸¸']",å¸‚åœº|å•†åŠ¡ç±»,å¸‚åœº|è¥é”€,å•†ä¸šæ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶,751158,150-500äºº,ç§»åŠ¨äº’è”ç½‘,ä¸éœ€è¦èèµ„,[],å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BIæ•°æ®åˆ†æå¸ˆ,52840,2000äººä»¥ä¸Š,ç”µå•†,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029),2474,2000äººä»¥ä¸Š,æ±½è½¦ä¸¨å‡ºè¡Œ,ä¸éœ€è¦èèµ„,"['å¼¹æ€§å·¥ä½œ', 'èŠ‚æ—¥ç¤¼ç‰©', 'å²—ä½æ™‹å‡', 'æŠ€èƒ½åŸ¹è®­']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,å…¶ä»–æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True

In [38]:
ans(16)

data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", chunksize= 10)

### 16 è¯»å– Excel æ–‡ä»¶ï½œåˆ†å—è¯»å–


<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œè¦æ±‚è¿”å›ä¸€ä¸ªå¯è¿­ä»£å¯¹è±¡ï¼Œæ¯æ¬¡è¯»å– 10 è¡Œ

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¿™æ ·åšï¼Ÿ

In [39]:
data = pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv',chunksize = 10)

### 17 è¯»å– txt æ–‡ä»¶ï½œå¸¸è§„

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ã€‚

æ³¨æ„ï¼šåœ¨æ¥ä¸‹æ¥çš„å‡ ç§æ ¼å¼æ–‡ä»¶è¯»å–ä¸­ï¼Œå¯¹äºä¹‹å‰é‡å¤çš„å‚æ•°/åŠŸèƒ½å°†ä¸å†æ•´ç†ï¼Œä»…ä»‹ç»è¯»å–åŠŸèƒ½ã€‚

In [40]:
ans(17)

data = pd.read_table("Titanic.txt")

In [41]:
data = pd.read_table('Titanic.txt')

In [42]:
ans(18)

data = pd.read_table("TOP250.txt",encoding='gb18030')

# data = pd.read_csv("TOP250.txt",encoding='gb18030',sep = '\t') # ä½¿ç”¨ read_csv ä¹Ÿå¯

In [44]:
ans(19)

data = pd.read_json("æŸåŸºé‡‘æ•°æ®.json")

### 18 è¯»å– txt æ–‡ä»¶ï½œå«ä¸­æ–‡

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.txt` æ–‡ä»¶ã€‚

In [43]:
data = pd.read_table('TOP250.txt',encoding = 'gb18030')

### 19 è¯»å– JSON æ–‡ä»¶



<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸåŸºé‡‘æ•°æ®.json` æ–‡ä»¶ã€‚

In [45]:
data = pd.read_json('æŸåŸºé‡‘æ•°æ®.json')

### 20 è¯»å– HDF5 æ–‡ä»¶

<br>

`HDF5`æ˜¯ä¸€ç§ç‰¹æ®Šçš„æ–‡ä»¶æ ¼å¼ï¼Œå¸¸è§äºåœ¨å¤§è§„æ¨¡å­˜å‚¨æ•°æ®ä¸Š

å…³äº `pandas` ä¸ `hdf5` æ ¼å¼æ–‡ä»¶çš„æ“ä½œè¾ƒå¤šï¼Œä¸‹é¢ä»…å­¦ä¹ å¦‚ä½•è¯»å–ã€‚

è¯»å–å½“å‰ç›®å½•ä¸‹`store_tl.h5`æ–‡ä»¶

In [46]:
ans(20)

data = pd.read_hdf("store_tl.h5", "table")

In [48]:
data = pd.read_hdf('store_tl.h5','table')

### 21 ä»å‰ªè´´æ¿è¯»å–æ•°æ®

<br>

æ‰“å¼€å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ï¼Œå…¨é€‰å¹¶å¤åˆ¶ã€‚

ç°åœ¨ç›´æ¥ä»å‰ªè´´æ¿è¯»å–æ•°æ®ã€‚

In [49]:
ans(21)

data = pd.read_clipboard()

In [50]:
data = pd.read_clipboard()

In [51]:
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### 22 ä» SQL è¯»å–æ•°æ®

<br>

æœ‰æ—¶æˆ‘ä»¬éœ€è¦ä» `SQL` ä¸­è¯»å–æ•°æ®ï¼Œå¦‚æœå…ˆå°†æ•°æ®å¯¼å‡ºå†`pandas`è¯»å–å¹¶ä¸æ˜¯ä¸€ä¸ªåˆé€‚çš„é€‰æ‹©ã€‚

åœ¨ `pandas` ä¸­æ”¯æŒç›´æ¥ä» `sql` ä¸­æŸ¥è¯¢å¹¶è¯»å–ã€‚

ä¸ºäº†æ–¹ä¾¿ç»Ÿä¸€æ“ä½œï¼Œè¯·å…ˆæ‰§è¡Œä¸‹é¢çš„ä»£ç åˆ›å»ºæ•°æ®ã€‚

In [60]:
ans(22)

pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

ä¸‹é¢å°† `SQL` è¯­å¥ `SELECT int_column, date_column FROM test_data` è½¬æ¢ä¸º `DataFrame`

In [61]:
pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

NameError: name 'conn' is not defined

### 23 ä»ç½‘é¡µè¯»å–æ•°æ®

<br>

ç›´æ¥ä»ä¸œäº¬å¥¥è¿ä¼šå®˜ç½‘è¯»å–å¥–ç‰Œæ¦œæ•°æ®ã€‚

ç›®æ ‡ç½‘ç«™åœ°å€ä¸º `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

æ€è€ƒï¼šä»€ä¹ˆç±»å‹çš„åœ¨çº¿è¡¨æ ¼å¯ä»¥ç›´æ¥è¯»å–ï¼Ÿ

In [62]:
ans(23)

data = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]

In [64]:
data = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.html")[0]

ValueError: No tables found

### 24 å¾ªç¯è¯»å–æ•°æ®

<br>

åœ¨æœ¬å°èŠ‚ `demodata` æ–‡ä»¶å¤¹ä¸‹æœ‰å¤šä¸ª `Excel` æ–‡ä»¶ï¼Œè¦æ±‚ä¸€æ¬¡æ€§å¾ªç¯è¯»å–å…¨éƒ¨æ–‡ä»¶

In [65]:
ans(24)

import os
path = 'demodata/'
filesnames = os.listdir(path)
filesnames = [f for f in filesnames if f.lower().endswith(".xlsx")]
df_list = []
for filename in filesnames:
    df_list.append(pd.read_excel(path + filename))

df = pd.concat(df_list)

In [71]:
import os
path = 'demodata/'
filenames = os.listdir(path)
filenames = [f for f in filenames if f.lower().endswith(".xlsx")]
df_list = []
for filename in filenames:
    df_list.append(pd.read_excel(path + filename))

df = pd.concat(df_list)

## 1-2 æ•°æ®åˆ›å»º

<br>

é™¤äº†ç›´æ¥è¯»å–æœ¬åœ°æ–‡ä»¶ï¼Œå­¦ä¼šç›´æ¥åˆ›å»ºæ•°æ®æ¡†ä¹Ÿå¾ˆé‡è¦ï¼Œå¸¸è§äºæµ‹è¯•ä¸€äº›å‡½æ•°ï¼Œä¸‹é¢æ˜¯ä»å¸¸è§æ•°æ®ç»“æ„åˆ›å»ºæ•°æ®æ¡†çš„æ–¹æ³•æ•´ç†

### 25 ä»åˆ—è¡¨åˆ›å»º

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šåˆ—åä¸º`"æ—©èµ·Python"`

In [74]:
l = [1,2,3,4,5]

In [72]:
ans(25)

data = pd.DataFrame(l,columns=['æ—©èµ·Python'])

In [75]:
data = pd.DataFrame(l, columns = ['fasdf'])

### 26 ä»åˆ—è¡¨åˆ›å»ºï½œåµŒå¥—åˆ—è¡¨

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šè¡Œç´¢å¼•ä¸º`"å…¬ä¼—å·","æ—©èµ·Python"`

In [79]:
l = [[1,2,3],[4,5,6]]

In [77]:
ans(26)

data = pd.DataFrame(l,index=['å…¬ä¼—å·','æ—©èµ·Python'])

In [80]:
data = pd.DataFrame(l, index = ['asd','rqwe'])

### 27 ä»å­—å…¸åˆ›å»º

æ‰§è¡Œä¸‹æ–¹ä»£ç ï¼Œå¹¶å°†å­—å…¸è½¬æ¢ä¸º`dataframe`

In [82]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [81]:
ans(27)

data = pd.DataFrame(d)

### 28 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šç´¢å¼•

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`

In [83]:
data = pd.DataFrame(d, index = ['d','b','a'])

In [84]:
ans(28)

data = pd.DataFrame(d, index=["d", "b", "a"])

In [85]:
ans(29)

data = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

### 29 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šåˆ—å

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`ï¼Œåˆ—åä¸º`"two", "three"`

In [86]:
data = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

### 30 ä»å­—å…¸åˆ›å»ºï½œå­—å…¸åˆ—è¡¨
<br>

å°†ä¸‹æ–¹åˆ—è¡¨å‹å­—å…¸è½¬æ¢ä¸º`dataframe`

æ€è€ƒï¼šå¦‚ä½•æŒ‡å®šè¡Œ/åˆ—ç´¢å¼•ï¼Ÿ

In [87]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [88]:
ans(30)

data = pd.DataFrame(data2)

In [93]:
data = pd.DataFrame(d, index = ['a','c'])

In [94]:
data

   a   b     c
a  1   2   NaN
c  5  10  20.0

### 31 ä»é›†åˆåˆ›å»º

<br>

å°†ä¸‹é¢çš„å…ƒç»„è½¬æ¢ä¸º dataframe ä¸”è¡Œåˆ—ç´¢å¼•å‡ä¸º `1,2,3,4`

In [95]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [96]:
data = pd.DataFrame(t, index = ['1','2','3','4'])

In [98]:
ans(31)

data = pd.DataFrame(t, columns=[1,2,3,4], index=[1,2,3,4])

In [99]:
data = pd.DataFrame(t, columns=[1,2,3,4], index=[1,2,3,4])

In [100]:
data

   1  2  3   4
1  1  0  0   0
2  2  3  0   0
3  4  5  6   0
4  7  8  9  10

## 1-3 æ•°æ®å­˜å‚¨

### 32 ä¿å­˜ä¸º CSV

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [102]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",nrows = 20)

In [103]:
data.to_csv('out.csv', encoding = 'utf_8_sig')

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

In [101]:
ans(32)

data.to_csv("out.csv",encoding = 'utf_8_sig')

### 33 ä¿å­˜ä¸º CSVï½œæŒ‡å®šåˆ—

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”åªä¿ç•™`positionNameã€salary`ä¸¤åˆ—

### 34 ä¿å­˜ä¸º CSVï½œå–æ¶ˆç´¢å¼•

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”å–æ¶ˆæ¯ä¸€è¡Œçš„ç´¢å¼•

### 35 ä¿å­˜ä¸º CSVï½œæ ‡è®°ç¼ºå¤±å€¼

<br>

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåœ¨ä¿å­˜çš„åŒæ—¶ï¼Œå°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`'æ•°æ®ç¼ºå¤±'`

### 36 ä¿å­˜ä¸ºCSVï½œå‹ç¼©

<br>

å°†ä¸Šä¸€é¢˜çš„æ•°æ®ä¿å­˜è‡³ `zip` æ–‡ä»¶ï¼Œè§£å‹åå‡ºç° `out.csv`

### 37 ä¿å­˜ä¸º Excel 

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `xlsx` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

### 38 ä¿å­˜ä¸º JSON

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `json` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

### 39 ä¿å­˜ä¸º Markdown

å°†ä¹‹å‰æ•°æ®è½¬æ¢ä¸º `markdown` å½¢å¼è¡¨æ ¼ï¼Œè¿™æ ·å¯ä»¥ç›´æ¥å¤åˆ¶è¿› `.md` æ–‡ä»¶ä¸­ä½¿ç”¨

### 40 ä¿å­˜ä¸º Html

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `html` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œå¹¶è¿›è¡Œå¦‚ä¸‹è®¾ç½®
- å–æ¶ˆè¡Œç´¢å¼•
- æ ‡é¢˜å±…ä¸­å¯¹é½
- åˆ—å®½100